@model IEnumerable<Gruppe9.Models.PollenRegistrering>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Opprett ny</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TypeOfPollen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Level)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TypeOfPollen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Level)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID" class="btn btn-primary">Rediger</a> 
               
                <a asp-action="Delete" asp-route-id="@item.ID" class="btn btn-primary">Fjern</a>
            </td>
        </tr>
}
    </tbody>
</table>
