@model IEnumerable<Gruppe9.Models.IndexInfo>

@{
    ViewData["Title"] = "Pollenvarsel for 5 dager";
}

<h2>@ViewData["Title"]</h2>

@if (ViewBag.Feil != null)
{
    <div class="alert alert-danger">@ViewBag.Feil</div>
}

@if (ViewBag.Antall != null)
{
    <p><strong>Antall rader i databasen:</strong> @ViewBag.Antall</p>
}

<table class="table table-bordered table-light">
    <thead>
        <tr>
            <th>ID</th>
            <th>Dato</th>
            <th>Code</th>
            <th>DisplayName</th>
            <th>Value</th>
            <th>Category</th>
            <th>IndexDescription</th>
            <th>ColorInfo</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var index in Model)
        {
            <tr>
                <td>@index.ID</td>
                <td>@index.Date</td>
                <td>@index.Code</td>
                <td>@index.DisplayName</td>
                <td>@index.Value</td>
                <td>@index.Category</td>
                <td>@index.IndexDescription</td>
                <td style="background-color: rgb(@index.ColorInfo?.Red, @index.ColorInfo?.Green, @index.ColorInfo?.Blue);"></td>
            </tr>
        }
    </tbody>
</table>
